div.groupForm {
  border: 1px solid black;
}

button.formButton {
  background-color: rgb(218, 220, 228);
  border: none;
  float: auto;
  width: 100%;
}

p.content {
  text-align: center;
}

div.track {
  margin-bottom: 10px;
}

div.searchInput {
  width: 350px;
  margin: 30px auto;
  box-shadow: 0px 0px 3px grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

div.searchForm {
  max-width: 500px;
  height: 400px;
  margin: 30px auto;
  box-shadow: 0px 0px 10px grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

div.recommendedSong {
  float: center;
  margin: auto;
  width: 250px;
  word-wrap: break-word;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(197, 233, 233);
}

div.scrollable {
  max-height: 250px;
  overflow: auto;
}

button.vote {
  border-radius: none;
  background: none;
}

input {
  border-radius: 5px;
  width: 250px;
  height: 30px;
}

input:focus {
  transition-duration: 0.2s;
  box-shadow: 0px 0px 6px black;
}

button.look {
  width: 250px;
  margin: auto;
  background-color: lightgrey;
}

button.songOption {
  margin-top: 5px;
  width: 100%;
  min-height: 25px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(197, 233, 233);
}

div.results {
  max-height: 225px;
  overflow: auto;
}

i {
  margin-right: 4px;
}

button.leave {
  background-color: rgb(177, 204, 230);
  outline: none;
  box-shadow: none;
  width: 125px;
  padding: 3px;
}

button.closer {
  outline: none;
  box-shadow: none;
  width: 125px;
  padding: 3px;
}

button.closer:hover {
  box-shadow: 0px 0px 6px black;
}

button.searchButton {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  background: none;
}

button.leave:hover {
  box-shadow: 0px 0px 6px black;
}
